/*
# Assignment 3 - Assignment 3: Building a Web Form for Ordering Event Tickets
# Created By: gpereiradossant3782
# Student ID: 8823782
# Due Date: March 25, 2023
# Course: PROG1247 - IT Support Web Foundations
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/berry.jpg");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

div#frame {
	margin: 25px auto;
	padding: 20px 30px 20px 20px;
	width: 50%;
	min-width: 900px;
	background-color: #ffffff;
	background-image: linear-gradient(#ffffff 20%, #fdf7e8 70%, #ffffff 100%);
	border: 2px solid #009926;
	border-radius: 8px;
	box-shadow: 0px 0px 90px 2px #008020;
}

p {
	margin: 20px 0px;
}

a {
	color: #008020;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

/* Header */
header {
	height: 160px;
	border-bottom: 2px solid #e8b417;
}

header img {
	float: left;
}

header div#header-line-1 {
	font-size: 300%;
	font-weight: bold;
	text-align: right;
	color: #ecc03b;
	text-shadow: 2px 2px 2px black;
}

header div#header-line-2 {
	font-size: 130%;
	font-weight: bold;
	text-align: right;
	font-style: italic;
	color: #008020;
}

/* aside */
aside {
	width: 230px;
	float: left;
	margin: 30px 10px 0px 0px;
}

aside div.sidebar-title {
	font-size: 115%;
	font-weight: bold;
	color: #d1a215;
}

aside ul {
	margin: 15px 0px 0px 15px;
}

aside ul li {
	margin: 15px 0px 0px 0px;
}

aside ul li a {
	font-style: italic;
	font-size: 90%;
}

/* Main */
main {
	margin: 20px 0;
	padding-left: 20px;
	float: left;
	width: 638px;
	min-height: 600px;
	border-left: 2px solid #e8b417;
}

main h1 {
	margin: 0;
	font-size: 200%;
}

main h1:first-letter {
	font-size: 240%;
}

main h2 {
	margin: 25px 0px;
	font-size: 125%;
}

main h3 {
	font-size: 110%;
}

main ul#product-categories {
	list-style-type: none;
}

main ul#product-categories li {
	margin: 35px 0px;
}

main ul#product-categories h3 {
	margin-top: 10px;
}

main ul#product-categories p {
	margin-top: 5px;
}

main ul#product-categories img {
	border: 2px solid #e8b417;
	border-radius: 10px;
	box-shadow: 0px 0px 6px 2px #ecc03b;
}

/* the styles for the navigation menu */
#nav_menu {
	margin-top: 2px;
}

#nav_menu ul {
	list-style-type: none;
	position: relative;
}

#nav_menu ul li {
	float: left;
}

#nav_menu ul li a {
	background-image: linear-gradient(#fdf7e8 15%, #ffffff 55%, #fdf7e8 100%);
	width: 180px;
	padding: 1em 0;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
	color: #d1a215;
}

#nav_menu a.current,
#nav_menu a.current:hover,
#nav_menu a.current:focus {
	color: #d1a215;
	font-weight: bold;
}

/* Footer */
footer {
	clear: left;
	border-top: 2px solid #e8b417;
}

footer p {
	font-size: 80%;
	text-align: center;
}

/* Style Form - Assignment 3 */

/* Add margin to fieldsets */
fieldset {
	margin: 20px 0;
}

/* Add margin to legends and style text */
legend {
	margin-bottom: 10px;
	font-weight: bold;
	color: grey;
	font-size: 85%;
}

/* Style labels and input fields */
label {
	display: inline-block;
	width: 35%;
	text-align: right;
	font-size: 90%;
	margin-bottom: 10px;
}

input,
select {
	display: inline-block;
	width: 15em;
	margin-left: 10px;
	margin-bottom: 10px;
}

/* Style required and valid fields */
input:required {
	border: 2px solid orange;
}

input:valid {
	border: 1px solid black;
}

/* Adjust radio buttons */
#payment_method label {
	float: none;
	display: inline-block;
	margin-left: 10px;
}

input[type="radio"] {
	width: auto;
	margin-left: 20px;
}

/* Format month and year lists */
#expiration_month {
	width: 7em;
}

#expiration_year {
	width: 5em;
}

/* Style Submit and Reset Fields button */
button[type="submit"],
button[type="reset"] {
	width: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

/* Centralize the buttons */
#buttons {
	display: flex;
	justify-content: center;
}